<section class="form-section">
    <div class="text">
        <h3>
            {{text}}
        </h3>
        <p>
            {{paragrafo}}
        </p>
    </div>
    <form [formGroup]="newsletterFrom">
        <label for="name">Name</label>
        <input id="name" formControlName="name"/>
        <label for="email">Email</label>
        <input id="email" formControlName="email"/>
        <btn-primary btn-text="se inscreva" variant="secondary" (submit)="onSubmit()" [disabled]="!newsletterFrom.valid" [loading]="loading()"></btn-primary>
    </form>
</section>
