<header class="app-header">
    <div class="nav">
        
            <nav class="nav-links">
                <a routerLink="/home" routerLinkActive="active">Home</a>
                <a routerLink="/cadastrarAnimal" routerLinkActive="active">Cadastrar</a>
                <a routerLink="/listarAnimais" routerLinkActive="active">Listar</a>
                <a routerLink="/listarSessoes" routerLinkActive="active">Sessões</a>
                <a routerLink="/login" routerLinkActive="active">Login</a>
                <!-- <a *ngIf="estaAutenticado" (click)="logout()">Logout</a> -->
            </nav>
    </div>
    <img ngSrc="./assets/logo-header.png" width="250" height="320">
    
</header>