.header {
  background-color: #f8f9fa;
  height: 60px;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
  align-items: center;
}

.header .nav-links {
  display: flex;
  gap: 15px;
}

.header .nav-links a {
  text-decoration: none;
  // color: #495057;
  color: #8f1e00;
  transition: color 0.3s ease;

}

.header .nav-links a:hover {
  color: #5c1300;
}

a {
  cursor: pointer;
}