<h2>Listagem de Animais</h2>

<ng-container *ngIf="loadedAnimais.length < 1; else loaded">
    <div class="loader-container">
        <div class="loader"></div>
    </div>
</ng-container>

<ng-template #loaded>
    <table class="tickets-table" *ngIf="loadedAnimais.length >=1">
        <thead>
            <tr>
                <th>Brinco do Animal</th>
                <th>Brinco do Pai</th>
                <th>Brinco da Mãe</th>
                <th>Data de Nascimento</th>
                <th>Data de Saída</th>
                <th>Sexo</th>
                <th>Status</th>
                <th colspan="4">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let animal of loadedAnimais">
                <td>{{ animal.porcoId }}</td>
                <td>{{ animal.paiId }}</td>
                <td>{{ animal.maeId }}</td>
                <td>{{ animal.dataNasc }}</td>
                <td>{{ animal.dataSaida }}</td>
                <td>{{ animal.genero }}</td>
                <td>{{ animal.status }}</td>
                <td><button type="button" class="btnEditar" routerLink="/editarAnimal/{{animal.id}}">Editar</button>
                </td>
                <td><button type="button" class="btnDeletar" (click)="deleteAnimalByID(animal.id)">Deletar</button>
                </td>
                <td><button type="button" class="btnPesagem" routerLink="/registroPesagem/{{animal.id}}">Registro de
                        pesagens</button></td>
                <td>
                    <button type="button" class="btnGrafico" routerLink="/grafico/{{animal.id}}">
                        <i class="fas fa-chart-bar"></i> Gráfico
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>