body {
    font-family: Arial, sans-serif;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-top: 20px;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #8f1e00;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

form button:hover {
    background-color: #df6948;
}