<h2>Registro de Sessão</h2>

<form [formGroup]="formSessaoCreate" (ngSubmit)="onSubmit()">

    <label for="data">Data da sessão:</label>
    <input type="date" id="data" formControlName="data">

    <span *ngIf="!formSessaoCreate.get('data')?.valid && formSessaoCreate.get('data')?.touched">
        Por favor, insira uma data valida!
    </span>

    <label for="descricao">Descricão da sessão:</label>
    <input type="text" id="descricao" formControlName="descricao">
    
    <label for="porcoId">Animais disponíveis</label>
    <ng-multiselect-dropdown [settings]="dropdownSettings"
    [data]="dropdownList" formControlName="porcoId">
    </ng-multiselect-dropdown>

    <label for="atividades">Atividades Disponíveis</label>
    <ng-multiselect-dropdown
    [settings]="dropdownAtividadeSettings"
    [data]="dropdownAtividadeList"
    formControlName="atividades"
    ></ng-multiselect-dropdown>

    <button type="submit">Enviar registro de sessão</button>
</form>