<app-header></app-header>
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span>CRYPTA SOFTWARE</span>
            <h1>Software House, Consultoria e Outsourcing de Soluções Tech</h1>
        </div>
        <img ngSrc="./assets/aboutus-principal.jpg" width="669" height="536">
    </section>
    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
                Quer<br />
                evoluir sua empresa?
            </h2>
        </div>
        <p>Seus problemas podem ser resolvidos com soluções <b>tecnológicas</b> e nós podemos ajudar!</p>
    </section>

    <section class="cta-section">
        <btn-primary btn-text="evolua seus negócios" routerPath="/contact"></btn-primary>
    </section>
    <app-purple-bar text-h3="Desenvolvemos soluções tecnológicas sob medida" text-p="Como em um ateliê, usamos nossas habilidades para desenvolver produtos dominando processos completos, tal qual um artesão. Desde o inícios, temos trabalhado todos os dias na melhorias dos nossos processos para entregar com excelência. Começamos como desenvolvedores de software customizado na Bahia e agora atuamos remotamente em todo o mundo."
    text-p2="Formado por um time de desenvolvedores capacitados, estamos prontos para ajuda-lo na evolução de seus negócios, seja sua necessidade voltada para soluções Web, Mobile ou Desktop."
    text-p3="Entre em contato e dê o próximo passo para o seu empreendimento!"
    ></app-purple-bar>

    <section class="cta-section pad-70">
        <h2>Quer elevar seu software e seus<br />
            negócios para outro nível?</h2>
        <btn-primary btn-text="solicite seu projeto" routerPath="/contact"></btn-primary>
    </section>
    <app-footer></app-footer>
</main>

