@import "../../../color-variables.scss";

.framework-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    // border: solid black 2px;
    // border-radius: 10px;
    width: 15rem;


    img {
        object-fit: contain;
        mix-blend-mode: color-burn;
        width: 10rem;
        height: 10rem;
    }

    h5 {
        font-size: 24px;
        font-weight: 600;
        color: $primary-text;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        color: $secondary-text;
    }
}

@media (min-width: 768px) {
    .framework-card {
        max-width: 600px;

        h5 {
            margin-top: 15px;
            margin-bottom: 5px;
            font-size: 34px;
        }

        p {
            font-size: 18px;
        }
    }
}
