<app-header></app-header>

<div class="mobile-container">
    <h2>Soluções Mobile</h2>
    <div class="mobile">
        <framework titulo="Flutter" imagem="/assets/logo-flutter.png"></framework>
        <framework titulo="Kotlin" imagem="/assets/logo-kotlin.png"></framework>
        <framework titulo="React Native" imagem="/assets/logo-reactnative.png"></framework>
    </div>
</div>

<div class="web-container">
    <h2>Soluções Web</h2>
    <div class="web">
        <framework titulo="Angular" imagem="/assets/logo-angular.jpg"></framework>
        <framework titulo="React" imagem="/assets/logo-react.png"></framework>
        <framework titulo="Blazor" imagem="/assets/logo-blazor.png"></framework>
    </div>
</div>

<div class="api-container">
    <h2>Desenvolvimento de API</h2>
    <div class="api">
        <framework titulo=".NET" imagem="/assets/logo-netcore.png"></framework>
        <framework titulo="Django" imagem="/assets/logo-django.png"></framework>
        <framework titulo="Springboot" imagem="/assets/logo-springboot.png"></framework>
    </div>
</div>

<div class="db-container">
    <h2>Bancos de Dados</h2>
    <div class="database">
        <framework titulo="MongoDB" imagem="/assets/logo-mongodb.png"></framework>
        <framework titulo="MySQL" imagem="/assets/logo-mysql.png"></framework>
        <framework titulo="PostgreSQL" imagem="/assets/logo-postgresql.jpg"></framework>
    </div>
</div>

<div class="cloud-container">
    <h2>Serviços Cloud</h2>
    <div class="cloud">
        <framework titulo="AWS" imagem="/assets/logo-aws.png"></framework>
        <framework titulo="Azure" imagem="/assets/logo-azure.png"></framework>
        <framework titulo="Google Cloud" imagem="/assets/logo-gcp.jpg"></framework>
    </div>
</div>

<app-footer></app-footer>
