<app-header></app-header>
<main>
    <section class="main-section pad-70">
        <img ngSrc="./assets/join-us.jpg" width="669" height="536" style="margin-right: 100px;">
        <div class="headline">
            <span>JUNTE-SE A NÓS</span>
            <h1>Pronto para dá o proximo passo na sua carreira?</h1>
        </div>
    </section>

    <newsletter-form texto="Deixe seu contato para nosso banco de talentos"
        paragrafo="Aqui na Crypta, transformamos e simplificamos negócios, fazendo a diferença desde a primeira entrega. Estamos prontos para atuar globalmente, sempre focando em construir a melhor solução junto com o cliente. Nossa equipe trabalha junta desde a fase inicial, a Discovery, onde ideias e investimentos são mapeados e validados, passando pela fase de Product Concept, quando todos os aspectos de UX e UI são projetados, até a fase de Build, o momento em que criamos o backend e o frontend.

        Se você quer fazer parte da transformação digital, participe do nosso processo seletivo e faça parte do #cryptasoftware!"></newsletter-form>

    <app-footer></app-footer>
</main>