<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontEnd T3 - FEB_P002</title>
</head>

<body>

    <div class="header">
        <div class="h"><h1>Universidade Estadual de Santa Cruz</h1></div>
    </div>

    <div class="menu"> <h3>Menu</h3> 
        <ul>
            <li>Título 1</li> <br>
            <li>Título 2</li> <br>
            <li>Título 3</li>
        </ul>
    </div>

    <div class="noticias"><h3>Notícias</h3>
        <h4>Noticia 1</h4>
        <h5><a href="">Sub título da Notícia 1</a></h5>
        <br>
        <h4>Noticia 2</h4>
        <h5><a href="">Sub título da Noticia 2</a></h5>
        <br>
    </div>

    <div class="destaque"><h3>Destaques</h3> 
        <div class="container-img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxm92OJ9oCsqak7s0aA0X7FI48Z_t67Xr6pwo9eAOIws5cozQyIKnuWBYJe8NH7TVtNDc&usqp=CAU"
                alt="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToNrcgMVwA3Uq3jixbbpIQpf_5_4jm0C7dhK974rzJabsSzqaz92J0FWq8uFIr9EYnOPY&usqp=CAU"
                alt="">
        </div>
    </div>

    <div class="servicos"><h3>Serviços</h3> 
        <p></p>
        <script src="scripts.js"></script>
    </div>

    <div class="resultados"> <h3>Resultados</h3>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel eligendi explicabo esse veniam quas ea, nisi doloremque fuga.</li> <br>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel eligendi explicabo esse veniam quas ea, nisi doloremque fuga.</li> <br>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel eligendi explicabo esse veniam quas ea, nisi doloremque fuga.</li> <br>
        </ul>
    </div>

    <div class="rodape"><h3>Footer</h3></div>

</body>

</html>
